*{
    font-family: 'PT Serif' ;
}

body
{
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

header
{
    background-color: rgb(0, 0, 0);
    border-bottom: 5px solid rgb(191, 8, 228);
}

.row{
    margin: 0;
}

.container-fluid 
{
    padding: 0;
}

.btn-primary 
{
    background-color: #000000;
    color: #b80bdb;
}

.btn-primary:hover
{
    background-color: #c28008;
    color: #c28008;
}

.msg
{
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
}

/* navbar*/
#navbar img /* Tamanho da logo na barra de tarefas */
{
    width: 100px;
}

#navbar
{
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

#navbar a
{
    font-size: 14px;
    color: #9f0fd8;
}

#navbar a:hover
{
    font-size: 14px;
    color: #8615c7;
}

/* Search Container */

#search-container
{
    background-image: url("../img/bannerhome2.jpg");
    background-size: cover;
    background-position: center;
    height: 350px;
    padding: 50px;
    text-align: center;
}

#search-container h1
{
    color: #ffffffb0;
    margin-bottom: 30px;
    font-weight: 900;
}

#search-container form
{
    width: 50%;
    margin: 0 auto;
}

/* influencers Container */
#events-container
{
    padding: 50px;
}

#events-container h2
{
    margin-bottom: 10px;
}

#events-container
{
    color: #757575;
    margin-bottom: 30px;
}

#cards-container
{
    display: flex;
}

#events-container .card{
    flex: 1 1 24%;
    max-width: 25%;
    border-radius: 10px;
    padding: 0;
    margin: 5%;
}

#events-container img
{
    max-width: 500px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .card-date
{
    font-size: 12px;
    color: rgb(147, 42, 218);
}

.card .card-title
{
    color: #212121;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participantes
{
    font-size: 14px;
    color: #7c16cf;
}

/* Event create page*/

#event-create-container
{
    padding: 14px;
}

#event-create-container label
{
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea 
{
    font-size: 12px;
}

/* event page */

#image-container, #info-container
{
    margin-top: 30px;
}

#image-container img
{
    border-radius: 10px;
}

#info-container h1
{
    font-size: 36px;
    font-weight: 900;
}

#info-container p
{
    margin: 5;
    font-size: 14px;
    display: flex;
}

#info-contariner h3, #description-container h3 
{
    font-size: 20px;
    font-weight: bold;
}

#info-container ion-icon
{
    font-size: 20px;
    color: #c28008;
    margin-right: 5px;
}

#info-container #event-submit
{
    margin: 20px 0;
}

#items-list 
{
    list-style: none;
    padding-left: 0;
}

#items-list li
{
    display: flex;
}

/* rodapé */

#description-container
{
    margin-top: 30px;
}

/* Dashboard */

.dashboard-title-container
{
    margin-bottom: 30px;
    margin-top: 30px;
}

.dashboard-events-container th
{
    width: 25%;
}

.dashboard-events-container form
{
    display: inline-block;
}

/* edit page */

.img-preview
{
    width: 100px;
    margin-top: 20px;
}

footer
{
    text-align: center;
    background-color: #000000;
    color: rgb(143, 18, 201);
    padding: 19px;
    position: absolute;
    bottom: 0;
    width: 100%;
} 